*{
    margin: 0;
    padding: 0;
}

.header{
    height: 100vh;
    background: url("pics/background.png") no-repeat center/cover;
}
.wrapper2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 165px;
    padding-right: 165px;
}

.header__menu{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.line {
    height: 51px;
    width: 1px;
    background-color: white;
    margin-top: -10px;
}
.menu__item a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: white;
}
.header__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__contact .number {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    color: white;
}
.header__contact p {
    margin-left: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: white;
}
.trubka{
    display: flex;
}
.header_button button{
    border: none;
    background: #FF7400;
    width: 157px;
    height: 47px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color:white;
}
.header__main{
    padding-top: 203px;
    padding-left: 175px;
    align-items: center;
}
.header__title h2 {
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
    margin-left: 24px;
    font-weight:normal;
}
.header__title h1{
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
    font-weight:normal;
}
.item__p{
    display: flex;
    align-items: center;
    margin-left: 100px;

}
.item__p1{
    width: 61px;
    height: 2px;
    background-color:white ;
}
.item__p p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-left: 8px;
    margin-right: 8px;
}
.header__title .header_button{
    margin-left: 156px;
    margin-top: 21px;
}
.main__wrapper{
    margin: 0 auto;
}
.main{
    background-color: #E5E5E5;
}
.main__list{
    position: relative;
}
.list_wrapper{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
}
.elements{
    margin-top: -164px;
    width: 349px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}
.elements_wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.elements_wrapper img{
    margin-top: 38px;
}
.title__element{
    margin-top: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}
.description_element{
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
}
