@media (max-width:1000px) {
    .menu{
        display: none!important;
    }
    .media__burger{
         display: flex;
     }
    .main__content{
        justify-content: center;
    }
    .wrap__block{
        flex-direction: column;
      row-gap: 150px;
    }
    .main__block{
        width: 100%;
    }
}